TestWebservices/src/example/GameOntologyServerPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://example/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://example/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://example/" schemaLocation="GameOntologyServerPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getGameInfo">
    <part name="parameters" element="tns:getGameInfo"/>
  </message>
  <message name="getGameInfoResponse">
    <part name="parameters" element="tns:getGameInfoResponse"/>
  </message>
  <message name="listGamesByType">
    <part name="parameters" element="tns:listGamesByType"/>
  </message>
  <message name="listGamesByTypeResponse">
    <part name="parameters" element="tns:listGamesByTypeResponse"/>
  </message>
  <message name="getFranchiseInfo">
    <part name="parameters" element="tns:getFranchiseInfo"/>
  </message>
  <message name="getFranchiseInfoResponse">
    <part name="parameters" element="tns:getFranchiseInfoResponse"/>
  </message>
  <message name="getCompanyInfo">
    <part name="parameters" element="tns:getCompanyInfo"/>
  </message>
  <message name="getCompanyInfoResponse">
    <part name="parameters" element="tns:getCompanyInfoResponse"/>
  </message>
  <message name="sayHelloWorldFromNoob">
    <part name="parameters" element="tns:sayHelloWorldFromNoob"/>
  </message>
  <message name="sayHelloWorldFromNoobResponse">
    <part name="parameters" element="tns:sayHelloWorldFromNoobResponse"/>
  </message>
  <message name="listClassByProperty">
    <part name="parameters" element="tns:listClassByProperty"/>
  </message>
  <message name="listClassByPropertyResponse">
    <part name="parameters" element="tns:listClassByPropertyResponse"/>
  </message>
  <message name="sayHelloWorldFrom">
    <part name="parameters" element="tns:sayHelloWorldFrom"/>
  </message>
  <message name="sayHelloWorldFromResponse">
    <part name="parameters" element="tns:sayHelloWorldFromResponse"/>
  </message>
  <message name="getGamesFromPlatform">
    <part name="parameters" element="tns:getGamesFromPlatform"/>
  </message>
  <message name="getGamesFromPlatformResponse">
    <part name="parameters" element="tns:getGamesFromPlatformResponse"/>
  </message>
  <portType name="GameOntologyServer">
    <operation name="getGameInfo">
      <input ns1:Action="http://example/GameOntologyServer/getGameInfoRequest" message="tns:getGameInfo" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://example/GameOntologyServer/getGameInfoResponse" message="tns:getGameInfoResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listGamesByType">
      <input ns3:Action="http://example/GameOntologyServer/listGamesByTypeRequest" message="tns:listGamesByType" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://example/GameOntologyServer/listGamesByTypeResponse" message="tns:listGamesByTypeResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getFranchiseInfo">
      <input ns5:Action="http://example/GameOntologyServer/getFranchiseInfoRequest" message="tns:getFranchiseInfo" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://example/GameOntologyServer/getFranchiseInfoResponse" message="tns:getFranchiseInfoResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getCompanyInfo">
      <input ns7:Action="http://example/GameOntologyServer/getCompanyInfoRequest" message="tns:getCompanyInfo" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://example/GameOntologyServer/getCompanyInfoResponse" message="tns:getCompanyInfoResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="sayHelloWorldFromNoob">
      <input ns9:Action="http://example/GameOntologyServer/sayHelloWorldFromNoobRequest" message="tns:sayHelloWorldFromNoob" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://example/GameOntologyServer/sayHelloWorldFromNoobResponse" message="tns:sayHelloWorldFromNoobResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listClassByProperty">
      <input ns11:Action="http://example/GameOntologyServer/listClassByPropertyRequest" message="tns:listClassByProperty" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://example/GameOntologyServer/listClassByPropertyResponse" message="tns:listClassByPropertyResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="sayHelloWorldFrom">
      <input ns13:Action="http://example/GameOntologyServer/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="http://example/GameOntologyServer/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getGamesFromPlatform">
      <input ns15:Action="http://example/GameOntologyServer/getGamesFromPlatformRequest" message="tns:getGamesFromPlatform" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns16:Action="http://example/GameOntologyServer/getGamesFromPlatformResponse" message="tns:getGamesFromPlatformResponse" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

